body {
	min-width: 320px;
	background-color: #006AA7;
	color: #FECC00;
	/* background-image: url('../img/swe.svg'); */
	/* background-size: 25%; */
	/* background-repeat: no-repeat; */
	margin: 0 8px;
	/* background-position: bottom right; */
}
p {
	color: white;
	font-weight: 500;
}
h1, h2, h3 {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1 {
	text-align: left;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
.emoji {
    font-weight: normal;
}