body.reduced {
	padding: 0;
	margin: 0;
}
.reduced .topline, .reduced .header, .reduced #folketsHuvud > div> table > tbody > tr:first-child > td:first-child > table > tbody > tr {
	display: none;
}
.reduced #folketsHuvud > div> table > tbody > tr{
	display: none;
}
.reduced #folketsHuvud > div> table > tbody > tr:first-child {
	display: block;
}
.reduced #folketsHuvud > div> table > tbody > tr:first-child > td:first-child > table > tbody > tr:nth-child(2) {
	display: block;
}
.reduced .cyanbox {
	display: block;
}
.reduced hr {
	display: none;
}
.reduced button, .reduced input {
	display: none;
}